<!DOCTYPE html>
<html>

<head>
    <title>Image Comparison</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <style>
        .container {
            margin-top: 50px;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1 class="text-center">Face Comparison</h1>
        <p class="text-center">This app compares two images containing human faces. Only accepts jpeg or png.</p>
        <form action="/compare" method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <div class="form-group">
                        <label for="img1">Image 1</label>
                        <input type="file" class="form-control-file" id="img1" name="img1" accept="image/jpeg, image/png">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <div class="form-group">
                        <label for="img2">Image 2</label>
                        <input type="file" class="form-control-file" id="img2" name="img2" accept="image/jpeg, image/png">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <button type="submit" class="btn btn-primary btn-block">Compare Images</button>
                </div>
            </div>
        </form>
    </div>
</body>
    
</html>
