<!DOCTYPE html>
<html>

<head>
    <title>Image Comparison</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <style>
        .container {
            margin-top: 50px;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1 class="text-center">Face Comparison</h1>
        <form id="upload-form" enctype="multipart/form-data">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <div class="form-group">
                        <label for="img1">Image 1</label>
                        <input type="file" class="form-control-file" id="img1" name="img1" accept="image/*">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <div class="form-group">
                        <label for="img2">Image 2</label>
                        <input type="file" class="form-control-file" id="img2" name="img2" accept="image/*">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <button type="submit" class="btn btn-primary btn-block">Compare Images</button>
                </div>
            </div>
        </form>
    </div>

    <script>
        document.getElementById('upload-form').addEventListener('submit', function (e) {
            e.preventDefault();

            var img1Input = document.getElementById('img1');
            var img2Input = document.getElementById('img2');

            var img1File = img1Input.files[0];
            var img2File = img2Input.files[0];

            var img1Compressed = new File([img1File], "compressed_img1.jpg", { type: "image/jpeg" });
            var img2Compressed = new File([img2File], "compressed_img2.jpg", { type: "image/jpeg" });

            img1Input.files[0] = img1Compressed;
            img2Input.files[0] = img2Compressed;

            this.submit();
        });
    </script>
</body>

</html>
